<nav>
    <div class="holder">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/series">Series</a></li>
            <li><a href="/peliculas">Películas</a></li>
            <li><a class="activo" href="/contacto">Contacto</a></li>
        </ul>
    </div>
</nav>
<main class="holder">
    <div class="columna left">
        <h2>Contacto Rápido</h2>
        <form action="" method="" class="formulario">
            <p>
                <label for="">Nombre</label>
                <input type="text" />
            </p>
            <p>
                <label for="">Email</label>
                <input type="email" />
            </p>
            <p>
                <label for="">Teléfono</label>
                <input type="text" />
            </p>
            <p>
                <label for="comentario">Comentario</label>
                <textarea id="comentario"></textarea>
            </p>
            <p class="acciones"><input type="submit" value="Enviar"></p>
        </form>
    </div>
    <div class="columna right">
        <h2>Otras vias de contacto</h2>
        <p>También se pueden comunicar con nosotros ...</p>
        <ul>
            <li>Teléfono: +5491145229694</li>
            <li>Email:contacto@series+peliculasya.com.ar</li>
            <li>Facebook:</li>
            <li>Twitter:</li>
            <li>Skype:</li>
        </ul>
    </div>
</main>