<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Denk+One&family=Open+Sans:wght@300;400&display=swap"
    rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <div class="holder">
      <img src="/images/logo.png" width="100" alt="series+películasYA">
      <h1>series+películasYA</h1>
    </div>
  </header>
  {{{body}}}
  <footer>
    <p>Diseñado por Mariano Zembo Clarens - &copy;2021</p>
  </footer>
</body>

</html>