<nav>
    <div class="holder">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a class="activo" href="/series">Series</a></li>
            <li><a href="/peliculas">Películas</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </div>
</nav>
<main class="holder">
    <h1>Bienvenido a la página SERIES</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque perferendis neque, minima sint aspernatur hic illum eum dignissimos recusandae est itaque enim animi cum blanditiis reiciendis iure praesentium maxime necessitatibus?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos illo repellat porro ipsum quae? Quod nihil unde blanditiis enim distinctio, in sit maiores sequi architecto optio tempore recusandae reprehenderit voluptate.</p>
</main>