<div class="container" style="margin-top: 6em;">
    <div class="holder">
        <form action="/admin/login" method="post">
            <div class="mb-3 row">
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="inputUser" name="usuario" placeholder="Usuario">
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Contraseña">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>
        {{#if error}}
            <br><div class="text-center fs-5 bg-danger text-white">Usuario y/o Contraseña incorrecto/s</div>
        {{/if}}
    </div>
</div>
